// Global styles goes here
*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

@layer base {
    ul,
    ol {
        list-style: revert;
        margin: revert;
        padding: revert;
    }
}